<div class="header">
  <div class="header-container">
    <div class="header-nav">
      <div class="header-nav__tabs">
        <a href="" class="active">Personas</a>
        <a href="">Negocios</a>
        <a href="">Empresas</a>
        <p>&#9615;</p>
        <a href=""><i class="bx bx-right-arrow"></i> Claro VIdeo</a>
        <a href=""><i class="bx bx-headphone"></i> Claro Música</a>
        <p>&#9615;</p>
        <a href="">Claro Club</a>
      </div>
      <div class="header-nav__phone">
        <p>Cámbiate a Claro</p>
        <span><i class="bx bxs-phone"></i> 0800-00200</span>
      </div>
      <div class="header-nav__portal">
        <p>Portal de Denuncias</p>
        <img src="../assets/img/bandera-peru.png" alt="" />
      </div>
    </div>
    <div class="header-menu">
      <div class="header-menu__nav">
        <img src="../assets/img/logo-claro-blanco.png" alt="" />
        <div class="header-menu__nav--list">
          <a href="">Servicios</a>
          <a href="">Tienda</a>
          <a href="">Ayuda</a>
        </div>
      </div>
      <div class="header-menu__search">
        <input type="text" />
        <p>Buscar <i class="bx bx-search"></i></p>
        <button>Mi Claro</button>
      </div>
    </div>
    <div class="header-breadcumb">
      <a href="">Inicio</a>
      /
      <a href="">Exclusivos</a>
      /
      <a href="">Claro Perú Música</a>
      /
      <a class="active" href="">Carreras</a>
    </div>
    <div class="header-menu-mobile">
      <div class="header-menu-mobile__head">
        <div class="header-menu-mobile__head--btn">
          <button (click)="showMenu = !showMenu">
            <i class="bx bx-menu"></i>
          </button>
          <img src="../assets/img/logo-claro-blanco.png" alt="" />
        </div>
        <div class="header-menu-mobile__head--search">
          <input type="text" />
          <i class="bx bx-search"></i>
        </div>
      </div>
      <div *ngIf="showMenu" class="header-menu-mobile__list">
        <a href="">Servicios</a>
        <a href="">Tienda</a>
        <a href="">Ayuda</a>
      </div>
    </div>
  </div>
</div>
<div class="banner">
  <img class="banner-web" src="../assets/img/banner.png" alt="" />
  <img class="banner-mobile" src="../assets/img/banner-mobile.png" alt="" />
</div>
<div class="specifications">
  <div class="specifications-container">
    <div class="specifications-cont">
      <div class="specifications-cont__field">
        <img src="../assets/img/calendar.png" alt="" />
        <h3>Fecha</h3>
        <p>Domingo</p>
        <p>de diciembre</p>
      </div>
      <!-- <img src="../assets/img/barra-vertical.png" alt="" /> -->
      <div class="specifications-cont__field">
        <img src="../assets/img/clock.png" alt="" />
        <h3>Horario</h3>
        <p>Hora de Partida: 8:00 a.m.</p>
        <p>Hora de concentración: 7:00 a.m.</p>
      </div>
      <!-- <img src="../assets/img/barra-vertical.png" alt="" /> -->
      <div class="specifications-cont__field">
        <img src="../assets/img/place.png" alt="" />
        <h3>Lugar</h3>
        <p>Explanada del Hotel</p>
        <p>Country Club San Isidro</p>
      </div>
      <!-- <img src="../assets/img/barra-vertical.png" alt="" /> -->
      <div class="specifications-cont__field">
        <img src="../assets/img/boots.png" alt="" />
        <h3>Distancias</h3>
        <p>Carrera 8K</p>
        <p>Caminata 4K</p>
      </div>
    </div>
    <div class="specifications-inscription">
      <button>Inscripción</button>
      <p>
        La responsabilidad por la organización de la carrera “La vuelta a san
        isidro: Carrera 8K y caminata 4K” es exclusiva responsabilidad de Perú
        Runners
      </p>
    </div>
  </div>
  <div></div>
</div>
<div class="ruta">
  <h2>RUTA</h2>
  <span class="line"></span>
  <img class="ruta-img__web" src="../assets/img/ruta.png" alt="" />
  <img class="ruta-img__mobile" src="../assets/img/ruta-mobile.png" alt="" />
  <a href=""
    >Descarga el mapa <span>aquí</span> <i class="bx bx-down-arrow-circle"></i
  ></a>
</div>
<div class="inscripcion">
  <div class="inscripcion-container">
    <div class="inscripcion-kits">
      <img class="inscripcion-kits-web" src="../assets/img/kits.png" alt="" />
      <img
        class="inscripcion-kits-mobile"
        src="../assets/img/kits-mobile.png"
        alt=""
      />
    </div>
    <div class="inscripcion-title">
      <p>
        Participa por uno de ellos del <span class="text-red">29</span>
        <span class="text-black"> de noviembre al </span>
        <span class="text-red">5</span>
        <span class="text-black"> de diciembre del 2019,</span>
      </p>
    </div>
    <img class="pin" src="../assets/img/group-35.png" alt="" />
    <div class="inscripcion-banner">
      <!-- <div class="inscripcion-step__cont"></div> -->
      <img src="../assets/img/rectangle.png" alt="" />
      <p>Sigue estos pasos</p>
    </div>
    <div class="inscripcion-steps">
      <img class="pin-step" src="../assets/img/group-38.png" alt="" />
      <div class="inscripcion-steps__step">
        <img src="../assets/img/www.png" alt="" />
        <p class="inscripcion-steps__step--title">Paso 1</p>
        <p class="inscripcion-steps__step--text">
          Ingresa tus datos en el formulario del concurso
        </p>
      </div>
      <div class="inscripcion-steps__step">
        <img src="../assets/img/musica.png" alt="" />
        <p class="inscripcion-steps__step--title">Paso 2</p>
        <p class="inscripcion-steps__step--text">
          Reproduce el playlist “La vuelta a San Isidro 8K/4K” en Claro música
        </p>
      </div>
    </div>
    <div class="inscripcion-participar">
      <p class="inscripcion-participar__info">
        ¡Los 20 participantes con más reproducciones de la
        <span class="inscripcion-participar__info--enfasis">playlist</span>
        ganarán uno de los kits!
      </p>
      <button>Participa</button>
      <p class="inscripcion-participar__terms">
        Solo mayores de edad y residentes en Lima Metropolitana. No participan
        trabajadores CLARO. Cada kit contendrá un (1) polo, una (1) numeración
        para la carrera y un (1) chip. elección de ganadores: 06/12/2019 Ver las
        bases del sorteo
        <span class="inscripcion-participar__terms--enfasis">aquí</span>
      </p>
    </div>
  </div>
</div>
<div class="prize">
  <div class="prize-container">
    <p class="prize-container__title">El Kit</p>
    <img src="../assets/img/polo.png" alt="" />
    <p class="prize-container__text">
      polo,chip y número Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Quisque dolor lectus
    </p>
  </div>
  <div class="prize-container">
    <p class="prize-container__title">La Medalla</p>
    <img src="../assets/img/medalla.png" alt="" />
    <p class="prize-container__text">
      polo,chip y número Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Quisque dolor lectus
    </p>
  </div>
</div>
<div class="donwload">
  <div>
    <img src="../assets/img/phone.png" alt="" />
  </div>
  <div class="donwload-playlist">
    <p>Disfruta del Playlist <span>“La vuelta a San Isidro”</span></p>
    <button>Playlist</button>
    <p>Descarga la app <span>Claro música</span></p>

    <div class="donwload-playlist__store">
      <a href="">
        <img src="../assets/img/app-store.png" alt="" />
      </a>
      <a href="">
        <img src="../assets/img/play-store.png" alt="" />
      </a>
    </div>
    <p>
      -------------------------------------------------------------------------
    </p>
    <div class="donwload-playlist__social">
      <a href="">
        <img src="../assets/img/facebook.png" alt="" />
      </a>
      <a href="">
        <img src="../assets/img/instagram.png" alt="" />
      </a>
      <a href="">
        <img src="../assets/img/twitter.png" alt="" />
      </a>
    </div>
  </div>
</div>
<div class="clients">
  <img src="../assets/img/client1.png" alt="" />
  <img src="../assets/img/client2.png" alt="" />
  <img src="../assets/img/client3.png" alt="" />
  <img src="../assets/img/client4.png" alt="" />
  <img src="../assets/img/client5.png" alt="" />
  <img src="../assets/img/client6.png" alt="" />
  <img src="../assets/img/client7.png" alt="" />
  <img src="../assets/img/client8.png" alt="" />
</div>
<div class="footer">
  <div class="footer-title">
    <img src="../assets/img/logo-claro-blanco.png" alt="" />
    <p>Todos los derechos reservados, Claro 2018</p>
  </div>
  <div class="footer-info">
    <a href="">Términos y condiciones de la web</a>
    <a href="">Ley de protección de datos personales</a>
    <a href="">Sistemas de Consultas Tarifarias</a>
    <a href="">Sistema de Consulta de Deudas</a>
    <a href="">Condiciones de garaantías de equipos</a>
    <a href="">Derechos ARCO</a>
    <a href="">Neutralidad de Red</a>
    <a href="">Información abonados y usuarios</a>
  </div>
</div>

<router-outlet></router-outlet>
