@import "../assets/scss/variables";
.header {
  width: 100%;
  display: flex;
  &-container {
    width: 100%;
  }
  &-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 0 100px;
    font-size: 13px;
    &__tabs {
      display: flex;
      //   justify-content: space-between;
      a {
        color: $tabs-inactive;
        text-decoration: none;
        margin-right: 10px;
      }
      p {
        margin-right: 10px;
      }
      .active {
        color: $black;
      }
    }
    &__phone {
      display: flex;
      align-items: center;
      color: $black;
      font-size: 15px;
      p {
        margin-right: 15px;
      }
      span {
        background-color: #ff9d00;
        color: $white;
        padding: 5px 10px;
        border-radius: 5px;
      }
    }
    &__portal {
      display: flex;
      align-items: center;

      p {
        color: $tabs-inactive;
        margin-right: 15px;
      }
      img {
        height: 20px;
        width: 20px;
        border-radius: 50%;
      }
    }
  }
  &-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: $back-red;
    height: 50px;
    font-size: 18px;

    &__nav {
      display: flex;
      align-items: center;
      padding: 10px 0 10px 100px;

      img {
        height: 100%;
      }
      a {
        text-decoration: none;
        color: $white;
        margin-left: 25px;
      }
    }
    &__search {
      display: flex;
      align-items: center;
      padding: 0px 100px 0px 0px;
      button {
        width: 100px;
        height: 100%;
        background-color: $back-btn-red;
        border: none;
        color: $white;
        font-size: 18px;
      }
      p {
        padding-right: 15px;
        color: $white;
        i {
          margin-left: 5px;
        }
      }
      input {
        background: none;
        border: none;
        margin-right: 15px;
        font-size: 18px;
        &:focus {
          background-color: white;
        }
      }
    }
  }
  &-menu-mobile {
    display: none;
  }
  &-breadcumb {
    display: flex;
    align-items: center;
    background-color: $back-bread;
    height: 50px;
    padding-left: 100px;
    color: $bread-inactive;

    a {
      text-decoration: none;
      color: $bread-inactive;
      padding: 0 5px;
      font-size: 18px;
    }
    .active {
      color: $black;
    }
  }
}
.banner {
  width: 100%;
  &-mobile {
    display: none;
  }
  img {
    width: 100%;
  }
}
.specifications {
  padding: 70px 200px 45px;
  width: 100%;
  &-container {
    width: 100%;
  }
  &-cont {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    &__field {
      text-align: center;
      img {
        margin-bottom: 10px;
      }
      h3 {
        font-weight: 500;
      }
      p {
        font-size: 14px;
      }
    }
  }
  &-inscription {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 150px;
    button {
      width: 175px;
      height: 45px;
      border-radius: 5px;
      border: none;
      background-color: #00bee1;
      font-size: 20px;
      color: white;
    }
    p {
      font-size: 14px;
      margin-top: 25px;
    }
  }
}
.ruta {
  background-image: url("../assets/img/back-red.png");
  background-repeat: no-repeat;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
  h2 {
    color: white;
    font-weight: 600;
    font-style: italic;
    font-size: 32px;
  }
  .line {
    margin-top: 15px;
    width: 150px;
    height: 2.5px;
    background-color: white;
    display: flex;
    position: relative;
    &::after {
      content: "";
      display: flex;
      height: 6px;
      width: 6px;
      position: absolute;
      background-color: white;
      border-radius: 50%;
      top: -1.5px;
      right: 0%;
    }
    &:before {
      content: "";
      display: flex;
      height: 6px;
      width: 6px;
      position: absolute;
      background-color: white;
      border-radius: 50%;
      top: -1.5px;
      left: 0%;
    }
  }
  img {
    margin-top: 25px;
  }
  &-img__mobile {
    display: none;
  }
  &-img__web {
    display: flex;
  }
  a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    span {
      margin-right: 5px;
      font-weight: 600;
    }
  }
}
.inscripcion {
  background-image: url("../assets/img/back-insc.jpg");
  background-repeat: no-repeat;
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 50px 350px 25px;

  &-kits {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    &-web {
      display: block;
    }
    &-mobile {
      display: none;
    }
  }
  &-title {
    margin-top: 25px;
    p {
      font-size: 22px;
      .text-red {
        color: #da272c;
        font-weight: 600;
      }
      .text-black {
        color: black;
        font-weight: 700;
      }
    }
  }
  .pin {
    margin: 15px 0;
  }
  &-banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      z-index: 1;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
    p {
      font-size: 22px;
      color: white;
      display: flex;
      z-index: 10;
      position: relative;
      font-weight: 500;
    }
  }
  &-steps {
    position: relative;
    .pin-step {
      position: absolute;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    &__step {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0 50px;
      &--title {
        color: #d54537;
        margin-top: 10px;
        font-size: 22px;
        font-weight: 700;
      }
      &--text {
        font-size: 18px;
        font-weight: 300;
        margin-top: 15px;
      }
    }
  }
  &-participar {
    margin-top: 75px;
    button {
      margin-top: 25px;
      background-color: #0fbddf;
      width: 175px;
      height: 50px;
      color: white;
      font-size: 20px;
      border: none;
      border-radius: 5px;
    }
    &__info {
      font-size: 18px;
      &--enfasis {
        color: #0fbddf;
      }
    }
    &__terms {
      margin-top: 25px;

      font-size: 12px;
      font-weight: 300;
      &--enfasis {
        color: #0fbddf;
      }
    }
  }
}
.prize {
  background-image: url("../assets/img/back-blue.png");
  background-repeat: no-repeat;
  padding: 50px 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  &-container {
    height: 350px;
    width: 300px;
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    &__title {
      font-size: 24px;
      font-weight: 700;
    }
    &__text {
      align-self: flex-end;
      font-weight: 300;
    }
  }
}
.donwload {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  &-playlist {
    margin-left: 25px;
    p {
      font-weight: 300;
      font-size: 18px;
    }
    button {
      margin: 10px 0;
      border: none;
      border-radius: 5px;
      background-color: #00bee1;
      color: white;
      font-size: 18px;
      height: 35px;
      width: 100px;
    }
    &__store {
      margin-bottom: 15px;
      margin-top: 10px;
      a {
        margin-right: 15px;
      }
    }
    &__social {
      margin-top: 15px;
      a {
        margin-right: 15px;
      }
    }
  }
}
.clients {
  background-color: #eaeaea;
  height: 120px;
  width: 100%;
  padding: 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer {
  background-color: #2e2e2e;
  width: 100%;
  height: 125px;
  padding: 10px 125px;
  font-size: 14px;
  color: white;
  &-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    img {
      width: 50px;
    }
  }
  &-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 5px;
    text-align: center;
    a {
      color: white;
      text-decoration: none;
      margin-top: 10px;
      font-size: 14px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
    display: flex;
    &-container {
      width: 100%;
    }
    &-nav {
      display: none;
    }
    &-menu {
      display: none;
    }
    &-breadcumb {
      display: none;
    }
    &-menu-mobile {
      background-color: $back-red;
      height: 60px;
      display: flex;
      flex-direction: column;
      &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 10px 25px 10px 15px;
        &--btn {
          height: 100%;
          display: flex;
          align-items: center;
          button {
            background-color: $back-red;
            border: none;
            font-size: 24px;
            color: white;
          }
          img {
            height: 100%;
            margin-left: 15px;
          }
        }
        &--search {
          font-size: 24px;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          input {
            width: 75px;
            background: none;
            border: none;
            &:focus {
              background-color: white;
              height: 18px;
            }
          }
        }
      }
      &__list {
        display: flex;
        flex-direction: column;
        background-color: $back-red;
        width: 100%;
        padding: 10px 25px 10px 15px;
        a {
          text-decoration: none;
          color: white;
          margin: 5px 0;
          border-bottom: 1px solid white;
        }
      }
    }
  }
  .banner {
    width: 100%;
    display: flex;
    &-web {
      display: none;
    }
    &-mobile {
      display: flex;
    }

    img {
      width: 100%;
    }
  }
  .specifications {
    display: flex;
    padding: 25px 15px;
    width: 100%;
    &-container {
      width: 100%;
    }
    &-cont {
      width: 100%;
      display: flex;
      flex-direction: column;
      &__field {
        text-align: center;
        margin: 15px 0;
        img {
          margin-bottom: 10px;
        }
        h3 {
          font-weight: 500;
        }
        p {
          font-size: 14px;
        }
      }
    }
    &-inscription {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      padding: 0 15px;
      button {
        width: 175px;
        height: 45px;
        border-radius: 5px;
        border: none;
        background-color: #00bee1;
        font-size: 20px;
        color: white;
      }
      p {
        font-size: 14px;
        margin-top: 25px;
      }
    }
  }
  .ruta {
    background-image: url("../assets/img/back-red-mobile.png");
    background-repeat: no-repeat;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 10px;

    &-img__web {
      display: none;
      margin-top: 25px;
    }
    &-img__mobile {
      display: block;
      margin-top: 15px;
      width: 100%;
    }
    a {
      margin-top: 15px;
      color: white;
      text-decoration: none;
      font-size: 16px;
      span {
        margin-right: 5px;
        font-weight: 600;
      }
    }
  }
  .inscripcion {
    background-image: url("../assets/img/back-insc-mobile.png");
    padding: 50px 15px 25px;

    &-kits {
      &-web {
        display: none;
      }
      &-mobile {
        display: flex;
      }
    }
    &-title {
      margin-top: 25px;
      p {
        font-size: 22px;
        .text-red {
          color: #da272c;
          font-weight: 600;
        }
        .text-black {
          color: black;
          font-weight: 700;
        }
      }
    }
    .pin {
      margin: 15px 0;
    }
    &-banner {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        z-index: 1;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
      }
      p {
        font-size: 22px;
        color: white;
        display: flex;
        z-index: 10;
        position: relative;
        font-weight: 500;
      }
    }
    &-steps {
      position: relative;
      .pin-step {
        display: none;
      }
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      &__step {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 10px;
        &--title {
          color: #d54537;
          margin-top: 10px;
          font-size: 22px;
          font-weight: 700;
        }
        &--text {
          font-size: 18px;
          font-weight: 300;
          margin-top: 15px;
        }
      }
    }
    &-participar {
      margin-top: 75px;
      button {
        margin-top: 25px;
        background-color: #0fbddf;
        width: 175px;
        height: 50px;
        color: white;
        font-size: 20px;
        border: none;
        border-radius: 5px;
      }
      &__info {
        font-size: 18px;
        &--enfasis {
          color: #0fbddf;
        }
      }
      &__terms {
        margin-top: 25px;

        font-size: 12px;
        font-weight: 300;
        &--enfasis {
          color: #0fbddf;
        }
      }
    }
  }
  .prize {
    background-image: url("../assets/img/back-blue-mobile.png");
    background-repeat: no-repeat;
    padding: 50px 20px 0 20px;
    display: flex;
    flex-direction: column;
    &-container {
      height: 350px;
      width: 100%;
      margin-bottom: 20px;
      &__title {
        font-size: 24px;
        font-weight: 700;
      }
      &__text {
        align-self: flex-end;
        font-weight: 300;
      }
    }
  }
  .donwload {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    &-playlist {
      margin-top: 25px;
      margin-left: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 20px;
      p {
        font-weight: 300;
        font-size: 18px;
      }
      button {
        margin: 15px 0;
        border: none;
        border-radius: 5px;
        background-color: #00bee1;
        color: white;
        font-size: 18px;
        height: 35px;
        width: 100px;
      }
      &__store {
        margin-bottom: 15px;
        margin-top: 25px;
        a {
          margin-right: 15px;
        }
      }
      &__social {
        margin-top: 15px;
        a {
          margin-right: 15px;
        }
      }
    }
  }
  .clients {
    background-color: #eaeaea;
    height: auto;
    width: 100%;
    padding: 30px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    img {
      margin: 10px 0;
    }
  }
  .footer {
    background-color: #2e2e2e;
    width: 100%;
    height: auto;
    padding: 10px 15px;
    font-size: 14px;
    color: white;
    display: block;
    &-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      img {
        width: 50px;
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      text-align: left;
      margin-top: 25px;
      a {
        color: white;
        text-decoration: none;
        margin-top: 10px;
        font-size: 14px;
      }
    }
  }
}
