/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/variables";
* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  font-weight: 400;
  box-sizing: border-box;
}
